You are an expert on natural language entailment.
Your task is to deduce whether premise statements entail hypotheses. 
Only return a '1' if the hypothesis can be fully entailed by the premise.
Return '0' if the hypothesis contains information that cannot be entailed by the premise. 

Premise: {premise}
Hypothesis: {hypothesis}
Entailment: 
