You are an expert on natural language entailment. 
Your task is to deduce whether premise statements entail hypotheses. 
Only return a '1' if the hypothesis can be fully entailed by the premise. 
Return '0' if the hypothesis contains information that cannot be entailed by the premise. 
Also generate an explanation for your answer. 
Generate the answer in JSON format with the following keys: 
'explanation': the reason why the entailment prediction is made, 
'entailment_prediction': 1 or 0, whether the claim can be entailed. 
Only return the JSON-formatted answer and nothing else.
Premise: {premise}
Hypothesis: {hypothesis}

Here is the JSON-formatted answer:


